<footer>
  <div class="w-full p-12 text-center bg-gray-100">
    <p class="text-lg/8 text-gray-600 pb-6">Developed in collaboration with top tier universities across the globe</p>
    <hr>
    <div class="mx-auto grid grid-cols-4 sm:grid-cols-6 lg:grid-cols-12 items-center gap-x-8 gap-y-10 p-6">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/insead.svg" alt="INSEAD">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/mit.svg" alt="MIT">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/cambridge.svg" alt="University of Cambridge">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/stanford.svg" alt="Stanford University">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/imperial-college-london.svg" alt="Imperial College London">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/singularity-university.svg" alt="Singularity University">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/dtu.svg" alt="Danmarks Tekniske University">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/cbs.svg" alt="Copenhagen Business School">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/university-of-copenhagen.svg" alt="University of Copenhagen">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/harvard.svg" alt="Harvard Medical School">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/uc-san-diego.svg" alt="University of California, San Diego">
      <img class="col-span-1 max-h-12 w-full object-contain" src="/img/zayed-university.svg" alt="Zayed University">
    </div>
    <hr>
  </div>
</footer>