---
layout: base.njk
title: Cognii - The Neurotesting Consultants 
---

  <div class="bg-white">
    <!-- Hero -->
    <div class="mx-auto max-w-2xl pt-32 lg:pt-48 text-center">
      <p class="text-md/7 font-semibold text-pink-600 pb-2">How we've applied neurotech for leading companies</p>
      <h1 class="text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Actionable, measurable impact</h1>
      <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">From Silicon Valley to your local supermarket.<br />We have delivered game-changing insights that power commercial success.</p>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-8 mb-16 max-w-2xl sm:mt-10 lg:mt-12 lg:max-w-4xl">
        <p class="my-4 text-base/7 text-gray-600">Curious about how applying neurotech and neurotesting leads to actionable, measurable insights with real commercial impact? Explore our case studies from partnerships with leading brands like 
        <a class="text-pink-500 font-semibold" href="/case-studies/spotify/">Spotify</a>, 
        <a class="text-pink-500 font-semibold" href="/case-studies/ikea/">IKEA</a>, 
        <a class="text-pink-500 font-semibold" href="/case-studies/google/">Google</a>, 
        <a class="text-pink-500 font-semibold" href="/case-studies/vodafone/">Vodafone</a>, 
        <a class="text-pink-500 font-semibold" href="/case-studies/meta/">Meta</a>, 
        <a class="text-pink-500 font-semibold" href="/case-studies/visa/">VISA</a>, and
        <a class="text-pink-500 font-semibold" href="/case-studies/tesco/">TESCO</a>.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-16 mt-16">
          {% for case in collections.caseStudies %}
            <div>
              <div class="rounded-lg p-6 h-full border-2 border-pink-500 relative">
                <div class="absolute top-0 -translate-y-1/2 left-1/2 transform -translate-x-1/2 w-2/3 rounded-lg p-2 border-2 border-pink-500 bg-white flex items-center justify-center">
                  <img src="/img/{{ case.fileSlug }}.svg" alt="{{ case.data.client }}" class="w-auto h-10"/>
                </div>
                
                <h4 class="font-semibold text-lg pt-6">{{ case.data.title }}</h4>
                <p class="text-gray-600 pb-4">{{ case.data.lead }}</p>
                <p class="text-pink-500">
                  <a href="/case-studies/{{ case.fileSlug }}/">
                    Read case study <span aria-hidden="true">→</span>
                  </a>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>      
    </div>


    <!-- CTA -->
    <div class="my-16 flex items-center justify-center gap-x-6 text-center px-6">
      <a href="https://wfl1gzbngbj.typeform.com/to/en5hYAKS" target="_blank" class="rounded-md bg-pink-600 px-6 py-4 text-lg font-semibold text-white shadow-sm hover:bg-pink-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">Curious about what neurotesting can reveal?</a>
    </div>

  </div>