---
layout: page.njk
pre: How we've applied neurotech for leading companies
headline: Actionable, Measurable Impact
lead: From Silicon Valley to your local supermarket. We have delivered game-changing insights that power commercial success.
title: 
description: 
---

        <p class="my-4 text-base/7 text-gray-600">Curious about how applying neurotech and neurotesting leads to actionable, measurable insights with real commercial impact? Explore our case studies from partnerships with leading brands like 
        <a class="text-pink-500 font-semibold" href="/cases/spotify/">Spotify</a>, 
        <a class="text-pink-500 font-semibold" href="/cases/ikea/">IKEA</a>, 
        <a class="text-pink-500 font-semibold" href="/cases/google/">Google</a>, 
        <a class="text-pink-500 font-semibold" href="/cases/vodafone/">Vodafone</a>, 
        <a class="text-pink-500 font-semibold" href="/cases/meta/">Meta</a>, 
        <a class="text-pink-500 font-semibold" href="/cases/visa/">VISA</a>, and
        <a class="text-pink-500 font-semibold" href="/cases/tesco/">TESCO</a>.
        </p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-16 mt-16">
          {% for case in collections.caseStudies %}
              <div class="rounded-lg p-6 h-full border-2 border-pink-500 relative">
                <div class="flex items-center justify-center">
                  <img src="/img/{{ case.fileSlug }}.svg" alt="{{ case.data.client }}" class="w-auto h-10"/>
                </div>
                <h4 class="font-semibold text-lg pt-6">{{ case.data.headline }}</h4>
                <p class="text-gray-600 pb-4">{{ case.data.lead }}</p>
                {% if case.templateContent.length > 0 %}
                <p class="text-pink-500">
                  <a href="/cases/{{ case.fileSlug }}/">
                    Read case study <span aria-hidden="true">→</span>
                  </a>
                </p>
                {% endif %}
              </div>
          {% endfor %}
        </div>

      </div>      
    </div>

  </div>