---
layout: page.njk
pre: Our scientific heritage
headline: Neurotesting Built On Rigorous Scientific Research
lead: Battle-tested from Silicon Valley to retail floors and spun off from Copenhagen Business School and Copenhagen University Hospital more than 10 years ago.
title: 
description: 
---

      <div class="mx-auto mt-8 max-w-2xl sm:mt-10 lg:mt-12 lg:max-w-4xl">
        <p class="mt-4 text-base/7 text-gray-600">Cognii is the brain child of neuroscientist and inventor <a href="https://www.linkedin.com/in/tzramsoy/" target="_blank" class="text-pink-600">Dr. Thomas Zoëga Ramsøy</a>. Taking the methodology and approach known from science and applying it to business and commercial problems, cognii has struck a nerve with companies eager to gain unparalleled insights into the consumers' minds.</p>
        <figure class="mt-4 pl-8 border-l-4 border-l-pink-500">
          <blockquote class="font-semibold">"Our work is based on an open book principle (no black boxes or trade secrets), as all our metrics and methods are well documented in the most highly esteemed scientific journals."</blockquote>
          <figcaption class="mt-2 text-base/7 text-gray-600">Dr. Thomas Z. Ramsøy</figcaption>
        </figure>
        <p class="my-4 text-base/7 text-gray-600">Cognii exists to advance the applied neurosciences, uncover hidden decision drivers, and save consumers and businesses a tonne of wasted time (and money!). In a nutshell, we're here to help you and your business. <a href="https://wfl1gzbngbj.typeform.com/to/en5hYAKS" target="_blank" class="text-pink-600">Ready to talk?</a></p>
        <figure>
          <img class="object-cover w-full rounded-2xl" src="/img/thomas-zoega-ramsoy.jpg" alt="Cognii founder Dr. Thomas Zoëga Ramsøy" />
          <figcaption class="mt-2 text-base/7 text-gray-600 italic">Cognii founder Dr. Thomas Z. Ramsøy</figcaption>
        </figure>
        <h3 class="mt-8 text-pretty text-2xl font-semibold tracking-tight text-gray-900 sm:text-3xl lg:text-balance">Science Runs In Our Blood</h3>
        <p class="mt-4 text-base/7 text-gray-600">There is no denying it. At cognii we are first and foremost scientists. So it's only natural that our success and breakthroughs in applying neuroscience commercially has been developed in collaboration with top tier universities across the globe including but not limited to:</p>

        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-4">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/insead.svg" alt="INSEAD">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/mit.svg" alt="MIT">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/cambridge.svg" alt="University of Cambridge">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/stanford.svg " alt="Stanford University">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/imperial-college-london.svg" alt="Imperial College London">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/singularity-university.svg" alt="Singularity University">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/dtu.svg" alt="Danmarks Tekniske University">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/cbs.svg" alt="Copenhagen Business School">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/university-of-copenhagen.svg" alt="University of Copenhagen">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/harvard.svg" alt="Harvard Medical School">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/uc-san-diego.svg" alt="University of California, San Diego">
            <img class="col-span-1 max-h-12 w-full object-contain" src="/img/zayed-university.svg" alt="Zayed University">
          </div>
        </div>
    
        <p class="mt-8 text-base/7 text-gray-600">This is both our heritage and our DNA. Thomas himself has published 4 books on neuroscience and 250+ articles with <a href="https://scholar.google.com/citations?user=GM8NKqgAAAAJ" target="_blank" class="text-pink-600">close to 5.000 citations.</a></a></p>

        <p class="mt-4 text-base/7 text-gray-600">But the scientific know-how is nothing without execution and delivery. If you are curious about what the end product could look like, have a look at one of our use cases <a href="/cases/" class="text-pink-600">right here</a>.</p>
      </div>
    </div>
  </div>
