---
layout: page.njk
pre: Applying neuroscience across domains
headline: Solutions for Neurotesting
lead: Whatever your challenge, we've got you covered.
title: 
description: 
---

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-8 max-w-2xl sm:mt-10 lg:mt-12 lg:max-w-4xl">
        <p>While most businesses guess what people want, measuring actual brain responses enables us to see the truth. People can't explain why they make certain choices — their brain activity reveals what they really respond to. This lets us cut through assumptions and create products, spaces, and experiences that genuinely work for people on a subconscious level.</p>
        <p>Together, we can apply neuroscience and create direct and meaningful impact for your business. Jump directly to each domain solution to learn how you can benefit from applying neuroscience:</p>

        <ul class="mt-6">
          {% for case in collections.solutions %}
            <li>- <a class="text-pink-500" href="#{{ case.fileSlug }}">{{ case.data.name }}</a></li>
          {% endfor %}
        </ul>
                  
        <dl class="mt-6">
          <hr class="mt-14 mb-6 border-pink-600">

          {% for case in collections.solutions %}
              <dt class="flex items-center gap-x-4" id="{{ case.fileSlug }}">
                <svg class="size-8 text-pink-600 mt-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="{{ case.data.icon }}" />
                </svg>
                <h2>{{ case.data.name }}</h2>
              </dt>
              <dd class="mt-2 text-base/7 text-gray-600 mb-8">
              {{ case.templateContent | safe }}
              {% for otherCase in collections.cases %}
                {% if otherCase.data.tags == case.data.name %}
                  <p>Case: 
                    <a class="text-pink-500" href="/cases/{{ otherCase.fileSlug }}/">{{ otherCase.data.client }} - {{ otherCase.data.headline}}</a>
                  </p>
                {% endif %}
              {% endfor %}
              </dd>
              <hr class="mt-14 mb-6 border-pink-600">
          {% endfor %}

        </dl>

      </div>
    </div>
  </div>
